/* =================== scroll-bar ============= */

  * {
    scrollbar-width: thin;
    scrollbar-color: #2b2b2b #191919;
  }

  /* Chrome, Edge, and Safari */
  *::-webkit-scrollbar {
    width: 10px;
  }

  *::-webkit-scrollbar-track {
    background: #191919;
  }

  *::-webkit-scrollbar-thumb {
    background-color: #2b2b2b;
    border-radius: 10px;
    border: 0px solid #000000;
  }
/* ====================== scroll-bar end============== */

*{
    margin: 0;
    box-sizing: border-box;
    font-family: Montserrat, sans-serif;
}

#contact {
    /* background-color: rgb(51, 51, 51); */
    display: flex;
    justify-content: center;
    align-items: center;
}

.contact-box {
    width: clamp(100px, 90%, 1000px);
    margin: 150px 50px;
    display: flex;
    flex-wrap: wrap;
}

.contact-links,
.contact-form-wrapper {
    width: 50%;
    padding: 8% 5% 10% 5%;
}

.contact-links {
/*     background: linear-gradient(#011414,#200353) border-box; */
/*   background: #242222; */
background: rgba( 233, 231, 237, 0.15 );
box-shadow: 0 8px 32px 0 rgba( 31, 38, 135, 0.37 );
backdrop-filter: blur( 3px );
-webkit-backdrop-filter: blur( 3px );
/* border-radius: 10px; */
border-left: 1px solid rgba( 255, 255, 255, 0.18 );
border-top: 1px solid rgba( 255, 255, 255, 0.18 );
border-bottom: 1px solid rgba( 255, 255, 255, 0.18 );
    
/*     background-color: #16003B; */
/*     color: #f7f2f2; */
    /* background: radial-gradient( circle at 55% 92%, lightgray 0 12%, transparent 12.2%), radial-gradient( circle at 94% 72%, lightgray 0 10%, transparent 10.2%), radial-gradient( circle at 20% max(78%, 350px), lightgray 0 7%, transparent 7.2%), #191919; */
    border-radius: 10px 0 0 10px;
}

.contact-form-wrapper {
/*     background: linear-gradient(#200353, #16003B,#060324);
    background-color: #060324;
    border-radius: 0 10px 10px 0; */
background: rgba( 233, 231, 237, 0.15 );
box-shadow: 0 8px 32px 0 rgba( 31, 38, 135, 0.37 );
backdrop-filter: blur( 3px );
-webkit-backdrop-filter: blur( 3px );
border-radius: 0 10px 10px 0;
border-right: 1px solid rgba( 255, 255, 255, 0.18 );
border-top: 1px solid rgba( 255, 255, 255, 0.18 );
border-bottom: 1px solid rgba( 255, 255, 255, 0.18 );
   
}

@media only screen and (max-width: 800px) {
    .contact-links,
    .contact-form-wrapper {
        width: 100%;
    }
    .contact-links {
        border-radius: 10px 10px 0 0;
    }
    .contact-form-wrapper {
        border-radius: 0 0 10px 10px;
    }
}

@media only screen and (max-width: 400px) {
    .contact-box {
        width: 95%;
        margin: 8% 5%;
    }
}

h1 {
    font-family: 'Arimo', sans-serif;
    color: #fcf6f6;
    font-size: 3em;
    letter-spacing: 2px;
    text-align: center;
    transform: scale(.95, 1);
}

.links {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    margin-top: auto;
}

.link {
    margin: 10px;
    cursor: pointer;
    padding: 2%;
    background-color: white;
    border-radius: 10%;
}

.link:hover {
    transform: scale(1.1, 1.1);
}


.form-item {
    position: relative;
}

label,
input,
textarea {
    font-family: 'Poppins', sans-serif;
}

label {
    position: absolute;
    top: 10px;
    left: 2%;
    color: #999;
    font-size: clamp(14px, 1.5vw, 18px);
    pointer-events: none;
    user-select: none;
}

input,
textarea {
    background: transparent;
    width: 100%;
    outline: 0;
    border: 1px solid #ccc;
    border-radius: 4px;
    margin-bottom: 20px;
    padding: 12px;
    font-size: clamp(15px, 1.5vw, 18px);
}

input:focus+label,
input:valid+label,
textarea:focus+label,
textarea:valid+label {
    font-size: clamp(13px, 1.3vw, 16px);
    color: #777;
    top: -20px;
    transition: all .225s ease;
}

.submit-btn {
    background-color: #fd917e;
    filter: drop-shadow(2px 2px 3px #0003);
    color: #fff;
    font-family: "Poppins", sans-serif;
    font-size: clamp(16px, 1.6vw, 18px);
    display: block;
    padding: 12px 20px;
    margin: 2px auto;
    border: none;
    border-radius: 4px;
    cursor: pointer;
    user-select: none;
    transition: 0.2s;
}

.submit-btn:hover {
    transform: scale(1.1, 1.1);
}

.submit-btn:active {
    transform: scale(1.1, 1.1);
    filter: sepia(0.5);
}

@media only screen and (max-width: 800px) {
    h2 {
        font-size: clamp(40px, 10vw, 60px);
    }
}

@media only screen and (max-width: 400px) {
    h2 {
        font-size: clamp(30px, 12vw, 60px);
    }
    .links {
        padding-top: 30px;
    }
    img {
        width: 100%;
        height: auto;
    }
}

.form-details button {
    padding: 15px 25px;
    color: #191919;
    font-weight: 500;
    background: white;
    outline: none;
    border: none;
    margin: 15px;
    font-size: 14px;
    letter-spacing: 2px;
    cursor: pointer;
}