/* =================== scroll-bar ============= */
  * {
    scrollbar-width: thin;
    scrollbar-color: #2b2b2b #191919;
  }

  /* Chrome, Edge, and Safari */
  *::-webkit-scrollbar {
    width: 10px;
  }

  *::-webkit-scrollbar-track {
    background: #191919;
  }

  *::-webkit-scrollbar-thumb {
    background-color: #2b2b2b;
    border-radius: 10px;
    border: 0px solid #000000;
  }
/* ====================== scroll-bar end============== */

*{
    margin: 0;
    padding: 0;
    list-style: none;
    font-family: 'Montserrat', sans-serif;
    -webkit-box-sizing: border-box;
            box-sizing: border-box;
}

/* wrapper */
.wrapper .title{
    padding:3em 0px 0.5em 0px;
    text-align: center;
    /* border-bottom: 1px solid #ebedec; */
}

.wrapper{
    width: 100%;
    height: 100%;
    /* background: #191919; */
    /* margin: 0px 2px 0px 2px; */
  }

.wrapper .tabs_wrap{
/* padding: 20px; */
border-bottom: 2px solid transparent;
border-image: linear-gradient(0.25turn, #191919, #ebedec, #191919);
border-image-slice: 1;
width:100%;
}
.wrapper .tabs_wrap ul{
    margin: 10px;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
}
.wrapper .tabs_wrap ul li{
    width: 135px;
      text-align: center;
      background: transparent;
      /* border-right: 1px solid #c1c4c9; */
      padding: 13px 15px;
    cursor: pointer;
    -webkit-transition: all 0.2s ease;
    -o-transition: all 0.2s ease;
    transition: all 0.2s ease;

  }

.wrapper .tabs_wrap ul li:first-child{
    border-top-left-radius: 25px;
    border-bottom-left-radius: 25px;
}

.wrapper .tabs_wrap ul li:last-child{
    border-right: 0px;
    border-top-right-radius: 25px;
    border-bottom-right-radius: 25px;
  }

.wrapper .tabs_wrap ul li:hover,
.wrapper .tabs_wrap ul li.active{
background: #0ABFBC;
color: #fff;
}


.myBox{
    text-align:center;
    border-bottom: 2px solid transparent;
    border-image: linear-gradient(0.25turn, rgba(255,249,34), rgba(255,0,128), rgba(56,2,155,0));
    border-image-slice: 1;
    width:100%;
}
.wrapper .container .item_wrap{
    padding: 10px 20px;
    text-align:center;
    border-bottom: 2px solid transparent;
    border-image: linear-gradient(0.25turn, #0ABFBC, #2c4a45, rgba(56,2,155,0));
    border-image-slice: 1;
    width:100%;
    cursor: pointer; 
  }

.wrapper .container .item_wrap:hover{
    background: rgba(24, 24, 16, .2);
    backdrop-filter: blur(15px);
    border: 2px solid rgba(255, 255, 255, 0.05);
    background-clip: padding-box;
    box-shadow: 0px 2px 2px rgba(228, 230, 233, 0.307);
    /* box-shadow: 10px 10px 10px rgba(46, 54, 68, 0.03); */
    /* color: rgba(24, 24, 16, .2); */
    /* background-color: #ccc; */
    /* color: #ccc; */
}

.wrapper .container .item{
    position: relative;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
  }

.wrapper .container .item .item_left .img{
    /* border-right: blue solid 2em; */
    /* margin-right: 1em; */
  }

.item_wrap .item .item_left{
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
  }

/* .item_wrap .item_left img{
    width: 70px;
    height: 70px;
    display: block;
  } */

.item_wrap .item_left .data .distance{
    /* color: #7f8b9b; */
    font-size: 14px;
    margin-top: 0px;
  }

.item_wrap .item_right .status{
    position: relative;
    /* color: #77818d; */
  }

.item_wrap .item_right .status:before{
    content: "";
    position: absolute;
    top: 5px;
    left: -12px;
    width: 8px;
    height: 8px;
    border-radius: 50%;
    background: #b3bbc8;
  }

.item_wrap.past .item_right .status{
    color: #b3bbc8; 
  }
  
.item_wrap.online .item_right .status:before{
    background: #44ee0c;
  } 

.line{
    border-color: red;
}

button:focus { 
    box-shadow: none !important
}
h1{
    font-weight:700;
}

.design_navbar{
    background: rgba(24, 24, 16, .2);
    backdrop-filter: blur(15px);
    border: 2px solid rgba(255, 255, 255, 0.05);
    background-clip: padding-box;
    box-shadow: 10px 10px 10px rgba(46, 54, 68, 0.03);
}
.image_stack{
    position: relative;
}

.navbar-brand{
    width: 100px;
    height:100px;
}
.img-fluid{
    height: auto;
    width: 100px;
}

img.logo_light{
    position: absolute;
}
.logo_dark{
    height: 76px;
    width: 100px;
}

/* footer */
.footer{
    font-weight: 400;
    padding: 40px 0;
    width: 100%;

}

.footer .social {
    text-align: center;
    padding-bottom: 25px;
    color: #4b4c4d;
}

.footer .social a{
    font-size: 24px;
    color: inherit;
    border: 1px solid #ccc;
    width: 40px;
    height: 40px;
    line-height: 38px;
    display: inline-block;
    text-align: center;
    border-radius: 50%;
    margin: 0 8px;
    opacity: 1;
}

.footer .social a:hover{
    opacity: 1;
}

.footer ul {
    margin-top: 0;
    padding: 0;
    list-style: none;
    font-size: 18px;
    line-height:1vh;
    margin-bottom:0;
    text-align: center;
}

.footer ul li a {
    color: inherit;
    text-decoration: none ;
    opacity: 1;
}

.footer ul li{
    display: inline-block;
    padding: 0 10px;
}

.footer ul li a:hover{
    opacity: 1;
}


.footer .copyright{
    margin-top: 2px;
    text-align: center;
    font-size: 13px;
    color: #aaa;
}
