/* body{
    font-family: Montserrat, sans-serif;
    background: 
    radial-gradient(#a4a4a4 3px, transparent 4px),
    radial-gradient(#a4a4a4 3px, transparent 4px),
    linear-gradient(#191919 4px, transparent 0),
    linear-gradient(45deg, transparent 74px, transparent 75px, #a4a4a4 75px, #a4a4a4 76px, transparent 77px, transparent 109px),
    linear-gradient(-45deg, transparent 75px, transparent 76px, #a4a4a4 76px, #a4a4a4 77px, transparent 78px, transparent 109px),
  #191919;
  background-size: 109px 109px, 109px 109px,100% 6px, 109px 109px, 109px 109px;
  background-position: 54px 55px, 0px 0px, 0px 0px, 0px 0px, 0px 0px;
    
} */

.logo {
    font-size: 2em;
    padding-top: 8em;
    display: block;
    /* margin-left:1em; */
    /* float: center; */
  }

.lastName {
    background-color: transparent;
    color: #83caff;
    align-items: center;
}

/* .sponsors {
    -webkit-animation-name: fadein;
    -webkit-animation-duration: 3s;
  }

@-webkit-keyframes fadein {
    0% { opacity: 0; }
    100% { opacity: 1; align-items: center; }
  } */
  
.design_navbar{
    background: rgba(24, 24, 16, .2);
    backdrop-filter: blur(15px);
    border: 2px solid rgba(255, 255, 255, 0.05);
    background-clip: padding-box;
    box-shadow: 10px 10px 10px rgba(46, 54, 68, 0.03);
}

.sponsors{
    padding-top:8em;
}

button:focus { 
    box-shadow: none !important
}

h1{
    font-weight:700;
}

.image_stack{
    position: relative;
}

.navbar-brand{
    width: 100px;
    height:100px;
}
.img-fluid{
    height: auto;
    width: 100px;
}

img.logo_light{
    position: absolute;
}
/* .logo_dark{
    height: 76px;
    width: 100px;
} */

/* footer */
.footer{
    font-weight: 400;
    padding: 40px 0;
    width: 100%;
}

.footer .social {
    text-align: center;
    padding-bottom: 25px;
    color: #4b4c4d;
}

.footer .social a{
    font-size: 24px;
    color: inherit;
    border: 1px solid #ccc;
    width: 40px;
    height: 40px;
    line-height: 38px;
    display: inline-block;
    text-align: center;
    border-radius: 50%;
    margin: 0 8px;
    opacity: 1;
}

.footer .social a:hover{
    opacity: 1;
}

.footer ul {
    margin-top: 0;
    padding: 0;
    list-style: none;
    font-size: 18px;
    line-height:1vh;
    margin-bottom:0;
    text-align: center;
}

.footer ul li a {
    color: inherit;
    text-decoration: none ;
    opacity: 1;
}

.footer ul li{
    display: inline-block;
    padding: 0 10px;
}

.footer ul li a:hover{
    opacity: 1;
}


.footer .copyright{
    margin-top: 2px;
    text-align: center;
    font-size: 13px;
    color: #aaa;
}

